.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: fit-content;
  border-radius: 10px;
}

.item:hover {
  color: white;
  background: #8d8989;
  transition: 0.3s;
}

.active {
  color: rgb(110, 110, 215);
  transform: scale(1.1);
}
